* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    height: 100vh;
    width: 100wh;
    background-color: black;
    display: grid;


    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 10px;


}

.space {
    color: white;
    font-size: 30px;
    
}

header {
    background: #333453;
    grid-column: 1/4;

}

main {
    background: #259b11;
    grid-column: 2/3;
}

aside {
    background: #800534;
}

footer {
    background: #0c8f9b;
    grid-column: 1/4;
}

nav {

    background: pink;
    grid-row: 2/3;
}